* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
   max-height: 100ph;
   background-image: url(assets/pay-2662758_1280.jpg);
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20%;
}
   
.calculadora{
   background-color: rgb(237, 171, 183);
   color: white;
   width: 350px;
   max-width: 100%;
   padding: 1.5rem;
   border-radius: 0.5rem;
   display: grid; 
   grid-template-columns: repeat(4,1fr);
   gap: o.5rem;
}
.pantalla{
   grid-column: 1/ -1 ;
   background-color: #8E44AD ; 
   padding: 1.5rem;
   font-size: 2rem;
   text-align: right;
   border-radius:1rem;
   margin-bottom: 1rem;
   font-family: monospace;
   font-weight: 600;
   
}
.pantalla:hover{
   background-color: #6ab721 ;
}

.btn{
   background-color:rgb(72, 72, 238); 
   color: rgb(12, 12, 12);
   border: 100;
   padding: 1.5rem .5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   
   }

   .btn:hover{
      background-color:rgb(235, 54, 84) ;
   }

   #cero{
      grid-column: span 2;
   }

   #igual{
      grid-row: span 2;
      background-color: rgb(28, 28, 192) ;
   }
   #igual:hover{
      background-color:rgb(250, 225, 83) ;
   }


   









