* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
   max-height: 100ph;
   background-image: url(assets/pay-2662758_1280.jpg);
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30%;
}
   
.calculadora{
   background-color: rgb(221, 235, 235);
   color: white;
   width: 350px;
   max-width: 100%;
   padding: 1.5rem;
   border-radius: 0.5rem;
   display: grid; 
   grid-template-columns: repeat(4,1fr);
   gap: o.5rem;
}
.pantalla{
   grid-column: 1/ -1 ;
   background-color: #d92780; 
   padding: 1.5rem;
   font-size: 2rem;
   text-align: right;
   border-radius:1rem;
   margin-bottom: 1rem;
   font-family: monospace;
   font-weight: 600;
   
}
.pantalla:hover{
   background-color:#fabada ;
}

.btn{
   background-color: rgb(160, 184, 41); 
   color: bisque;
   border: 0.1;
   padding: 1.5rem .5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   
   }

   .btn:hover{
      background-color:  rgb(80, 80, 143);
   }

   #cero{
      grid-column: span 2;
   }

   #igual{
      grid-row: span 2;
      background-color:rgb(159, 159, 226) ;
   }
   #igual:hover{
      background-color:rgb(26, 213, 151) ;
   }


   









