* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
   min-height:  100vh; 
   background-color: rgb(80, 80, 143);
   display: grid;
   place-items: center;
   
}
.calculadora{
   background-color: rgb(26, 32, 32);
   color: white;
   width: 350px;
   max-width: 100%;
   padding: 1.5rem;
   border-radius: 1rem;
   display: grid; 
   grid-template-columns: repeat(4,1fr);
   gap: o.5rem;
}
.pantalla{
   grid-column: 1/ -1 ;
   background-color:rgb(67, 113, 113); 
   padding: 1.5rem;
   font-size: 2rem;
   text-align: right;
   border-radius:.5rem;
   margin-bottom: 1rem;
   font-family: monospace;
   font-weight: 600;
}

.btn{
   background-color: rgb(26, 32, 32); 
   color: bisque;
   border: 0;
   padding: 1.5rem .5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   }

   .btn:hover{
      background-color:  rgb(80, 80, 143);
   }

   #cero{
      grid-column: span 2;
   }

   #igual{
      grid-row: span 2;
      background-color: aquamarine;
   }
   #igual:hover{
      background-color:rgb(26, 213, 151) ;
   }


   









